.container
{
    
    height: 100%;
    width: 100%;
    display: flex;
}

.left
{
    
    height: 100%;
    width: 90%;
    padding: 50px;
    margin-left: -150px;
}

.right
{
   
    height: 100%;
    width: 50%;
}